@model Mycloth_website.Lists.PaginatedList<FrunitureCategory>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie store</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/movie_filter_FILL0_wght400_GRAD0_opsz48.svg">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
</head>

<body style="background-color:aliceblue">
    <section class="movies">
        @foreach (var item in Model.Items)
        {

            <div class='item'>
                <a asp-action="FrunitureDetails" asp-controller="Home" asp-route-id="@item.ProductId">
                    <img src="~/Assets/@item.ProductImage" alt="" />
                </a>
                <p><b>@item.ProductName</b></p>
                <p>@item.ProductDescription</p>
                <div class="item-prices">
                    <div class="item-price-new">
                        $@item.ProductPrice
                    </div>
                    <div class="item-price-old">
                        $@item.DicountProductPrice
                    </div>
                </div>
            </div>

        }
    </section>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Fruniture", new { page = i })">@i</a>
                </li>
            }
        </ul>
    </nav>

</body>
</html>


